* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "lato", sans-serif;
}

nav {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding-aside);
  background: var(--secondary-dark);
  position: relative;
}

body > * {
  position: relative;
}

body > *::after {
  content: "";
  height: 6px;
  width: 100%;
  background: var(--container-opacity);
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo {
  color: var(--menu-text-color);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo span {
  color: var(--primary-light);
}

nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

nav li {
  height: 100%;
}

nav a {
  padding: 0 17px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--menu-text-color);
  display: flex;
  align-items: center;
  height: 100%;
}

nav .active-nav a {
  color: var(--primary-light);
}

nav li:hover {
  background: var(--container-opacity);
}

body > section {
  padding: var(--container-padding);
}

#carousel {
  background: var(--primary-light);
  height: 600px;
  padding-top: 0;
  padding-bottom: 0;
}

.right-shev {
  transform: rotate(180deg);
  transform-origin: center;
}

.shev {
  padding-right: 20px;
  line-height: 0;
}

.shev svg {
  fill: var(--primary-dark);
  width: 20px;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.slide img {
  width: 100%;
}

section:not(#contact-form) {
  color: var(--content-text-color);
}

#services {
  background: var(--content-bg-color);
}

section > h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.1em;
  text-transform: capitalize;
  padding-bottom: 20px;
}

section > p {
  font: 300 18px/30px "lato";
  margin-bottom: 20px;
}

.bullets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.bullet {
  flex-basis: 30vw;
  display: flex;
  margin: 15px 0;
  flex-grow: 1;
}

.bullet-icon {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-grow: 1;
  background-image: url(../img/sprite.png);
}

.bullet-title {
  font: 900 18px/1 "lato";
  margin-bottom: 15px;
}

.bullet-text {
  font-size: 12px;
  line-height: 1.9em;
}

[data-icon="design"] {
  background-position: -2px -2px;
}

[data-icon="ideas"] {
  background-position: -64px -2px;
}

[data-icon="love"] {
  background-position: -126px -2px;
}

[data-icon="layout"] {
  background-position: -188px -2px;
}

[data-icon="support"] {
  background-position: -250px -2px;
}

[data-icon="star"] {
  background-position: -312px -2px;
}

#portfolio {
  background: var(--secondary-dark);
}

#portfolio > p {
  margin-bottom: 12px;
}

/* THUMBS FILTER */
.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  display: inline-block;
  font-size: 12px;
  color: var(--content-text-color);
  text-transform: capitalize;
  line-height: 1em;
  padding: 4px;
  border: 1px solid var(--content-text-color);
  border-radius: 5px;
  cursor: pointer;
}

.filter-container label.active-filter {
  border-color: var(--content-bg-color);
  color: var(--content-bg-color);
}

#portfolio [type=radio] {
  display: none;
}

img[data-filter] {
  opacity: 1;
  transition: opacity .5s ease-out;
  margin: 5px;
}

[value="web-design"]:checked ~ img:not([data-filter="web-design"]) {
  opacity: .1;
}

[value="graphic-design"]:checked ~ img:not([data-filter="graphic-design"]) {
  opacity: .1;
}

[value="artwork"]:checked ~ img:not([data-filter="artwork"]) {
  opacity: .1;
}

.thumbs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.people-cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: calc(33.333333% - 20px);
}

.card img {
  width: 100%;
}

.card figcaption {
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 2em;
  padding: .5em 0;
}

.person-description {
  font-size: 12px;
  line-height: 1.9em;
}

.person-socials {
  /*display: */
}

.person-socials a {
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 0;
  background-image: url(../img/sm.png);
  display: inline-block;
}

[data-social="gplus"] {
  background-position: -40px 0;
}

[data-social="twitter"] {
  background-position: -80px 0;
}

[data-social="linkedin"] {
  background-position: -120px 0;
}

#contact-form {
  background: var(--primary-light);
  color: var(--contacts-text-color);
}

.contacts-container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  flex-basis: 65%;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container input {
  height: 36px;
  border: none;
  background: rgba(146, 20, 20,.25);
  border-radius: 5px;
  padding: 0 10px 0 14px;
  color: #f48c8f;
  margin-bottom: 14px;
}

.contacts-content {
  flex-basis: 33%;
}










