* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "lato", sans-serif;
}

nav {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding);

  background: var(--secondary-dark);
  position: relative;
}

body > * {
  position: relative;
}

body > *::after {
  content: "";
  height: 6px;
  width: 100%;
  background: var(--container-opacity);
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo {
  color: var(--menu-text-color);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo span {
  color: var(--primary-light);
}

nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

nav li {
  height: 100%;
}

nav a {
  padding: 0 17px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--menu-text-color);
  display: flex;
  align-items: center;
  height: 100%;
}

nav .active-nav a {
  color: var(--primary-light);
}

nav li:hover {
  background: var(--container-opacity);
}

#carousel {
  background: var(--primary-light);
  height: 600px;
  padding: var(--container-padding);
}

.right-shev {
  transform: rotate(180deg);
  transform-origin: center;
}

.shev {
  padding-right: 20px;
  line-height: 0;
}

.shev svg {
  fill: var(--primary-dark);
  width: 20px;
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.slide img {
  width: 100%;
}

section:not(#contact-form) {
  color: var(--content-text-color);
}

#services {
  padding: 50px 40px;
  background: var(--content-bg-color);
}

#services h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.1em;
  text-transform: capitalize;
  padding-bottom: 20px;
}

#services > p {
  font: 300 18px/30px "lato";
  margin-bottom: 20px;
}

.bullets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.bullet {
  flex-basis: 30vw;
  display: flex;
  margin: 15px 0;
}

.bullet-icon {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-grow: 1;
}

.bullet-title {
  font: 900 18px/1 "lato";
  margin-bottom: 15px;
}

.bullet-text {
  font-size: 12px;
  line-height: 1.9em;
}




















